<div class="row navbar-clearance">
  <div class="panel panel-default webform">
    <div class="panel-heading">
      <h4><%= "Group Details" %></h4>
    </div> 
    <div class="panel-body">
      <div class="form-group">
        <h6><b><%= "Name:" %></b></h6>
        <%= @group.name %>
      </div>
      <div class="form-group">
        <h6><b><%= "Description:" %></b></h6>
        <%= @group.description %>
      </div>
      <div class="form-group">
        <h6><b><%= "Group Image:" %></b></h6>
        <%= image_tag @group.image_attachment %>
      </div>
    </div> <!--panel-body-->
  </div> <!--panel-->
</div> <!--row-->

<br/>
<div class="row">
  <div class="col-xs-9">
  <% if @group.subscriber_ids.include? current_user.id %>
    <%= link_to '', subscribe_group_path(@group, request_type: params[:request_type], perform: 'Remove', current_cal: params[:current_cal]), method: :post,class: "btn btn-default btn-sm glyphicon glyphicon-ok added-to-cal", title: "Click to unsubscribe from this group."  %>
  <% else %>
    <%= link_to '', subscribe_group_path(@group, request_type: params[:request_type], perform: 'Join', current_cal: params[:current_cal]), method: :post,class: "btn btn-default btn-sm glyphicon glyphicon-plus", title: "Click to subscribe to this group."  %>
  <% end %>
  <% if @group.user_id == current_user.id %> <!-- current user is the group admin -->
    <%= link_to '',edit_group_path(@group),class: "btn btn-default btn-sm glyphicon glyphicon-pencil", title: "Edit" %>
    <%= link_to '',group_path(@group),method: :delete, data: {confirm: 'Are you sure?'},class: "btn btn-default btn-sm glyphicon glyphicon-trash", title: "Delete" %>
    <%= link_to 'Add Events', new_event_path({group_id: @group.id}), class: "btn btn-default btn-sm", title: "Add new events to this group." %>
  <% end %>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-xs-12">
    <div id="home" class="tab-pane fade in active">
      <%@group.events.each do |e| %>
        <%= render "events/event_template", e: e %>
      <% end %>
    </div>
  </div>
</div>
