
    <img src="/logo.png" height=90 width=90 alt="Logo" /><br>

<%= bootstrap_devise_error_messages! %>
<p class="alert" style="color:red;text-indent:270px"><%= alert %></p>

<div class="panel panel-default landing">
  <div class="panel-heading">
    <h4 style='display:inline-block'><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
