<div class="row navbar-clearance">
  <%= form_for @event do |f| %>
    <%if @event.nil? %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@event.errors.count, "error") %> prohibited this article from being saved:
          </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <%else%>
        <% if @event.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@event.errors.count, "error") %> prohibited this article from being saved:
     		    </h2>
            <ul>
              <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    <%end%>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= "Create Event" %></h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br />
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :datetime %><br/>
          <%= f.datetime_select :datetime %>
        </div>
        <div class="form-group">
          <%= f.label :link %>
          <%= f.text_field :link, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :image_attachment %>
          <%= f.file_field :image_attachment, class: "form-control" %>
        </div>
        <% if params[:group_id] != nil %>
          <%= f.hidden_field :group_id,value: params[:group_id] %>
        <% end %>
        <%= f.submit :default => "Submit", class: "btn btn-primary btn-sm" %>
        <%= link_to 'Back',events_path, class: "btn btn-primary btn-sm" %>
      </div> <!-- panel-body -->
    </div> <!-- panel -->
  <% end %>
</div>
