<div class="row navbar-clearance">
  <div class="col-xs-9">
    <div class="btn-group" role="group" aria-label="FilterButtons">
      <%= link_to 'All Events',events_path(:request_type => 'AllEvents'), class: "btn btn-default btn-sm filterbtn", id: 'AllEvents' %>
      <%= link_to 'Subscribed',events_path(:request_type => 'Subscribed'), class: "btn btn-default btn-sm filterbtn", id: 'Subscribed' %>
      <%= link_to 'Attending',events_path(:request_type => 'Attending'), class: "btn btn-default btn-sm filterbtn", id: 'Attending' %>
      <%= link_to 'My Created',events_path(:request_type => 'MyCreated'), class: "btn btn-default btn-sm filterbtn", id: 'MyCreated' %>
    </div>
  </div>
</div>
<hr/>

<div class="row">
  <div class="col-xs-9">
    <%= link_to 'Create Event',new_event_path, class: "btn btn-default btn-sm" %>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-xs-12">
    <div id="home" class="tab-pane fade in active">
      <% @events.each do |e| %>
        <%= render "event_template", e: e %>
      <% end %>
    </div>
  </div>
</div>

<script>
  var request_type = '<%= params[:request_type] %>';

  // Select active tab
  if(request_type.length > 0) {
    $('.filterbtn').removeClass('active')
    $('#'+request_type).addClass('active')
  } else {
    $('#AllEvents').addClass('active')
  }

</script>
