<div class="row navbar-clearance">
  <div class="panel panel-default webform">
    <div class="panel-heading">
      <h4><%= "Event Details" %></h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <h6><b><%= "Event Name:" %></b></h6>
        <%= @event.title %>
      </div>
      <div class="form-group">
        <h6><b><%= "Description:" %></b></h6>
        <%= @event.description %>
      </div>
      <div class="form-group">
        <h6><b><%= "Location:" %></b></h6>
        <%= @event.location %>
        <a href="https://maps.google.com?q=<%=@event.location%>" target="_blank"><img src="<%= asset_path('gmaps.png') %>" title="Locate on Google Maps" height="36" width="36"></a>
      </div>
      <div class="form-group">
        <h6><b><%= "Date/Time:" %></b></h6>
        <%= @event.datetime %>
      </div>
      <div class="form-group">
        <h6><b><%= "Event link:" %></b></h6>
        <%= @event.link %>
      </div>
      <div class="form-group">
        <h6><b><%= "Event Image:" %></b></h6>
        <%= image_tag @event.image_attachment.url %>
      </div>
      <div class="form-group">
        <h6><b><%= "Share/Add:" %></b></h6>
        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%=@event.title%>&details=<%=@event.description%>&location=<%=@event.location%>&sf=true&output=xml" target="_blank"><img src="<%= asset_path('gcal.png') %>" title="Add Event to Google Calendar" height="36" width="36"></a>
        <a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=www.ufl.edu&redirect_uri=https%3A%2F%2Ffacebook.com" target="_blank"><img src="<%=asset_path('fbshare.png')%>" width="30" height="30" title="Share on Facebook"></a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= event_path(@event) %>" data-text="<%= @event.title%> <%=@event.datetime%> Or access at <%= event_path(@event) %>" data-count="none">Tweet</a>
        <a href="https://plus.google.com/share?url={<%=event_path(@event)%>}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share on Google+"/></a>
       </div>
    </div> <!--panel-body-->
  </div> <!--panel-->
</div> <!--row-->

<div id="fb-root"></div>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
// FB.ui({
//   method: 'share',
//   href: '<%=event_path(@event)%>',
//   }, function(response){});
</script>
