<div id="main-container" class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Subscribed</a></li>
    <li><a data-toggle="tab" href="#menu1">Personal</a></li>
    <li><a data-toggle="tab" href="#menu2">All Events</a></li>
  </ul>
</div>

<div class="row">
  <div class="col-xs-9">
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h3>Subscribed</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Personal</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>All Events</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
    </div> <!-- tab-content -->
  </div> <!-- col-xs-9 -->

  <div class="col-xs-3">
    <%@public_event.each do |eve|%>
      <h3><%=eve.title%></h1>
      <p><%=eve.description%></p>
      <p><span class="glyphicon glyphicon-home">&nbsp</span><%=eve.location%></p>
      <p><span class="glyphicon glyphicon-time">&nbsp</span><%=Date.parse(eve.datetime).strftime("%b %d, %Y")%></p>
      <p><%=eve.link%></p>
      <hr>
    <%end%>
  </div> <!-- col-xs-3 -->
</div> <!-- row -->
