<h1>AttendeeMailer#notify_attendee</h1>

<p>
  <%= @current_user.email %>

  You have an event starting at <%= @event.datetime %>
  Event details 
  <%= @event.title %>
  <%= @event.description %>
  <%= @event.location %>

</p>
